- include_tasks: setup_kubectl.yaml

- include_tasks: install_helm.yaml

- name: Install Cilium CLI
  block:
    - name: Fetch latest Cilium CLI version
      ansible.builtin.uri:
        url: https://raw.githubusercontent.com/cilium/cilium-cli/main/stable.txt
        return_content: yes
      register: cilium_cli_version

    - name: Install cilium-cli
      ansible.builtin.unarchive:
        src: "https://github.com/cilium/cilium-cli/releases/download/{{ cilium_cli_version.content | trim }}/cilium-linux-amd64.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'
        owner: "{{ ansible_facts.user_id }}"
        group: "{{ ansible_facts.user_id }}"
      become: true

- name: Install Hubble CLI
  block:
    - name: Fetch latest Hubble CLI version
      ansible.builtin.uri:
        url: https://raw.githubusercontent.com/cilium/hubble/master/stable.txt
        return_content: yes
      register: hubble_cli_version

    - name: Install hubble-cli
      ansible.builtin.unarchive:
        src: "https://github.com/cilium/hubble/releases/download/{{ hubble_cli_version.content | trim }}/hubble-linux-amd64.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'
        owner: "{{ ansible_facts.user_id }}"
        group: "{{ ansible_facts.user_id }}"
      become: true

- name: Install Istio CLI (istioctl)
  block:
    - name: Check if istioctl is already installed
      ansible.builtin.stat:
        path: /usr/local/bin/istioctl
      register: istioctl_exists
      become: false

    - name: Get installed istioctl version
      ansible.builtin.command: /usr/local/bin/istioctl version --remote=false --short
      register: istioctl_current_version
      failed_when: false
      changed_when: false
      when: istioctl_exists.stat.exists
      become: false

    - name: Download and install istioctl
      block:
        - name: Download istioctl binary
          ansible.builtin.get_url:
            url: "https://github.com/istio/istio/releases/download/{{ lookup('env', 'ISTIO_VERSION') }}/istioctl-{{ lookup('env', 'ISTIO_VERSION') }}-linux-amd64.tar.gz"
            dest: /tmp/istioctl.tar.gz
            mode: '0644'
          become: false

        - name: Extract istioctl binary
          ansible.builtin.unarchive:
            src: /tmp/istioctl.tar.gz
            dest: /usr/local/bin
            remote_src: yes
            mode: '0755'
            owner: "{{ ansible_facts.user_id }}"
            group: "{{ ansible_facts.user_id }}"
          become: true

        - name: Clean up istioctl tarball
          ansible.builtin.file:
            path: /tmp/istioctl.tar.gz
            state: absent
          become: false
      when: >
        not istioctl_exists.stat.exists or
        (istioctl_current_version.stdout is defined and 
         lookup('env', 'ISTIO_VERSION') not in istioctl_current_version.stdout)
  when: ENABLE_ISTIO | bool

- name: Fetch/build autoinstall iso 
  block:
    - include_tasks: handle_iso.yaml
  run_once: true
  delegate_to: localhost